XBlock==0.4.14
# At the moment of writing PyPI hosts outdated version of xblock-utils, hence git
git+https://github.com/edx/xblock-utils.git@v1.0.2#egg=xblock-utils==1.0.2
pycaption<1.0 # The latest Python 2.7 compatible version
requests==2.9.1
babelfish==0.5.5
