{% load i18n %}

<div class="custom-field-list">
  <div class="custom-field-section-label">
    {% if player_name == players.VIMEO %}
      {% trans "Application Access Token" %}
    {% else %}
      {% trans "Client Token" %}
    {% endif %}
  </div>
  <input
    type="text"
    class="field-data-control token"
    id="xb-field-edit-{{field.name}}"
    value="{{field.value|default_if_none:''}}"
  >
  {% ifequal player_name players.BRIGHTCOVE %}
    <div class="field-elements-wrapper">
      <button id="video-api-authenticate">
        <span aria-hidden="true"></span>{% trans "Connect to video platform" %}<span class="sr"></span>
      </button>
    </div>
  {% endifequal %}
  <div class="api-response authenticate status"></div>
</div>
