{% load video_xblock_tags %}
<h3 class="hd hd-2">{{display_name}}</h3>
<iframe
    id="xblock-video-player-{{usage_id}}"
    src="{{player_url}}#{{usage_id}}"
    frameborder="0"
    scrolling="no"
    allowfullscreen
    mozallowfullscreen
    webkitallowfullscreen
    style="width:100%;height:600px"
    title="Video Content for {{display_name}}"
>
</iframe>
<ul class="wrapper-downloads-custom">
    {% if handout %}
        <li class="video-handout video-download-button-custom">
            <a href="{{ handout }}" class="download-handout" download="{{ handout_file_name }}">
                {% trans 'Download Handout' %}
            </a>
        </li>
    {% endif %}
    {% if download_transcript_allowed and transcripts %}
        <li class="video-transcript video-download-button-custom" id="download-transcripts-button">
            <div class="dropdown">
                <a href="{{ handout }}" class="download-transcript dropdown">
                    {% trans 'Download transcripts' %}
                </a>
                <div class="dropdown-content">
                    {% for transcript in transcripts %}
                    <a href="{{ transcript.download_url }}"
                       download="{{ transcript.label|lower }}_{{ transcript.lang }}.vtt">
                        {{ transcript.label }}
                    </a>
                    {% endfor %}
                </div>
            </div>
        </li>
    {% endif %}
    {% if download_video_url %}
        <li class="video-download-button-custom">
            <a href="{{ download_video_url }}" class="download-video" download
               title="{% trans 'Right-click and save link as to download file' %}"
               target="_blank">{% trans 'Download Video file' %}
            </a>
        </li>
    {% endif %}
</ul>

<div id="xblock-info" class="is-hidden">
    Version: {{ version }}
</div>
