.is-hidden {
  display: none !important;
}
.wrapper-comp-settings .file-uploader .xblock-edit-settings .upload-setting,
.wrapper-comp-settings .file-uploader .xblock-edit-settings .download-setting {
    width: 47%;
}
.upload-success {
    position: absolute;
}

.wrapper-downloads-custom {
    margin: 0;
    padding: 0;
    background-color: #f0f3f5;
}

.video-download-button-custom {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}

.video-download-button-custom a {
    transition: all 0.25s ease-in-out 0s;
    font-size: 14px;
    line-height: 14px;
    float: left;
    border-radius: 3px;
    background-color: #fff;
    padding: 15px;
}

.video-download-button-custom a:hover {
    background-color: #1aa1de;
    color: #fff;
}

/* Transcripts download dropdown buttons */
.dropdown {
    display: inline-block;
    position: relative;
    bottom: 0px;
}

.dropdown-content {
    display: none;
    position: absolute;
    bottom: 0px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 180px;
    min-width: 180px;
    overflow: visible;
    background: transparent;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    min-width: 160px;
}

.dropdown-content a:hover {background-color: #1aa1de}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover {
    background-color: #0075b4 !important;
    color: #fff !important;
}
