.is-hidden {
  display: none !important;
}
.wrapper-comp-settings .file-uploader .xblock-edit-settings .upload-setting,
.wrapper-comp-settings .file-uploader .xblock-edit-settings .download-setting {
    width: 47%;
}
.upload-success {
    position: absolute;
}

.wrapper-downloads-custom {
    margin: 0;
    padding: 0;
    background-color: #f0f3f5;
}

.video-download-button-custom {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}

.video-download-button-custom a {
    transition: all 0.25s ease-in-out 0s;
    font-size: 14px;
    line-height: 14px;
    float: left;
    border-radius: 3px;
    background-color: #fff;
    padding: 15px;
}

.video-download-button-custom a:hover {
    background-color: #1aa1de;
    color: #fff;
}

/* Transcripts download dropdown button */
.dropbtn {
    padding: 5px;
    font-size: 15px;
    border: 1px solid #0075b4;
    background: #fff !important;
    color: #0075b4;
    font-weight: 100;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #1aa1de}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #0075b4 !important;
    color: #fff !important;
}
